.selectContainer {
    position: relative;
    display: inline-block;
}

.select {
    height: 40px;
    border: 1px solid;
    border-radius: 0.5rem;
    color: var(--black);
    padding: 0.6rem;
    margin-top: -0.2rem; 
}
