.containerCenter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //background: ;
}

.login {
  margin-top: 2rem;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem, 1.5rem;

  form {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  form button {
    height: 40px;
    font-size: 1.2rem;
  }
}

.link {
  margin-top: 1rem;
  color: var(--black);
  align-self: center;
  cursor: pointer;
}

@media (max-width: 400px) {
  .login {
    width: 90%;
  }
}