.button {
    max-width: 600px;
    border-radius: 0.5rem;
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem;
    transition: filter 0.2s;

    &[disabled] {
        cursor: not-allowed;

        svg {
            animation: animate 1s infinite;
        }
    }

    &:hover {
        filter: brightness(1.1);
    }
}

.buttonText {
    color: var(--white);
}

.positionedRight {
    position: absolute;
    right: 20px;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
